body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.header {
    width: 90%;
    padding: 2% 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 44px;
}

.menu_icon {
    cursor: pointer;
    font-size: 48px;
    display: None;
}

.logo {
    color: #131318;
    font-family: Mulish;
    font-size: calc(1vw + 24px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    gap: 16px;
}


.navbar a {
    color: var(--Dark-02, #424247);
    text-align: center;
    /* font-family: Mulish; */
    font-size: calc(0.5vw + 12px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.navbar a.a_color {
    color: #FF5400
}



.banner {
    width: 90%;
    margin: 2% 5%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(25vw + 250px);
    border-radius: 19px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    display: flex;
    text-align: center;
    align-items: center;


}

.banner2 {
    width: 50vw;
    margin: auto;
}

.banner form {
    width: 83%;
    height: 100%;
    margin: auto;
    padding: 1vw;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner_form input,
.banner_form select,
.banner_btn {
    width: 9vw;
    height: 52px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 0.877vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 0.8vw;
    margin-right: 2%;

}

.banner_btn {
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.banner_head {
    color: #FFF;
    font-family: Mulish;
    font-size: 4vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner_info {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}


/* Breakpoint */
@media (max-width:600px) {
    .menu_icon {
        display: block;
    }

    .navbar {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .banner {
        height: 90vw;
    }

    .banner form {
        width:100%
    }

    .banner_info{
        font-size: 2vw;
        line-height: 3vw;
    }

    .banner_form input,
    .banner_form select,
    .banner_btn {
        width: 45vw;
        height: 10vw;
        margin-bottom: 5%;
        font-size: 2.5vw;
    }
}